  
link(rel='stylesheet' href='/404.css')

.bg-purple   
    .stars
    .custom-navbar
        .brand-logo
            h1 Theatre
        .navbar-links
    .central-body
        img.image-404(src='http://salehriaz.com/404Page/img/404.svg' width='300px')
        a.btn-go-home(href='/index') GO BACK HOME
    .objects
        img.object_rocket(src='http://salehriaz.com/404Page/img/rocket.svg' width='40px')
    .earth-moon
        img.object_earth(src='http://salehriaz.com/404Page/img/earth.svg' width='100px')
        img.object_moon(src='http://salehriaz.com/404Page/img/moon.svg' width='80px')
    .box_astronaut
        img.object_astronaut(src='http://salehriaz.com/404Page/img/astronaut.svg' width='140px')
    .glowing_stars
        .star
        .star
        .star
        .star
        .star
