doctype html
head
  title Search Results
  //
    Hydro Template
    http://www.templatemo.com/tm-509-hydro
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=Edge')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(name='author' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='stylesheet' href='/movie/css/bootstrap.min.css')
  link(rel='stylesheet' href='/movie/css/magnific-popup.css')
  link(rel='stylesheet' href='/movie/css/font-awesome.min.css')
  // MAIN CSS
  link(rel='stylesheet' href='/movie/css/templatemo-style.css')
  link(rel='stylesheet' href='/assets/css/main.css')

// PRE LOADER
section.preloader
  .spinner
    span.spinner-rotate
// MENU
section.navbar.custom-navbar.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse' data-target='.navbar-collapse')
        span.icon.icon-bar
        span.icon.icon-bar
        span.icon.icon-bar
      // lOGO TEXT HERE
      a.navbar-brand(href='/index') Search Results:
       a.btn.btn-primary(href='/index') Home


    // MENU LINKS
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            i.fa.fa-facebook-square
        li
          a(href='#')
            i.fa.fa-twitter
        li
          a(href='#')
            i.fa.fa-instagram
        li.section-btn
          a(href='/logout') Logout
// HOME
section#home(data-stellar-background-ratio='0.5')
  .overlayy
  .container
    .row
      section#galleries
          // Photo Galleries
          .gallery
            .content
              if movie
                each val in movie
                 .media
                    p.supp #{val.imagelink}
                    p.titlee #{val.title}
                    a(href= '' class="suppp")
                      img(src='' alt='' class='sup' title='')
                else
                  img(src='/images/notfound.jpg' alt='' class='sup' title='' width='50%')
                  <br/>
                  a.btn.btn-primary(href='/Search') Go Back




// FOOTER
footer(data-stellar-background-ratio='0.5')
  .container
    .row
      .col-md-5.col-sm-12
        .footer-thumb.footer-info
          h2 Theatre
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-2.col-sm-4
        .footer-thumb
          h2 Categories
          ul.footer-link
            li
              a(href='#') Action
            li
              a(href='#') Comedy
            li
              a(href='#') New Release
// SCRIPTS
script(src='/movie/js/jquery.js')
script(src='/movie/js/bootstrap.min.js')
script(src='/movie/js/jquery.stellar.min.js')
script(src='/movie/js/jquery.magnific-popup.min.js')
script(src='/movie/js/smoothscroll.js')
script(src='/movie/js/custom.js')
script(src='/movie/js/search.js')
script(src='/assets/js/main.js')



